name: Destroy Kubernetes

on:
  workflow_dispatch:

jobs:
  setup:
    name: Setup
    runs-on: self-hosted
    steps:
      - name: Ensure unzip is installed
        run: |
          if ! command -v unzip >/dev/null 2>&1; then
            sudo apt-get update
            sudo apt-get install -y unzip
          fi

  terraform:
    name: Terraform Init & Destroy
    needs: setup
    runs-on: self-hosted

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Download Encrypted Terraform State file
        uses: badgerhobbs/terraform-state@v2
        with:
          encryption_key: ${{ secrets.ENCRYPTION_KEY }}
          operation: download
          location: artifact
          directory: ./terraform
          github_token: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Terraform Destroy
        run: terraform destroy -auto-approve

