name: Deploy Kubernetes

on:
  workflow_dispatch:
    inputs:
      cluster_name:
        description: 'A name to provide for the Kubernetes cluster'
        required: true
        type: string
        default: 'k8s'
      iso_path:
        description: 'Path to the Talos ISO.'
        required: true
        type: string
        default: '/metal-amd64.iso'

jobs:
  setup:
    name: Setup
    runs-on: self-hosted
    steps:
      - name: Ensure unzip is installed
        run: |
          if ! command -v unzip >/dev/null 2>&1; then
            sudo apt-get update
            sudo apt-get install -y unzip
          fi

  terraform:
    name: Terraform Init & Apply
    needs: setup
    runs-on: self-hosted

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve -var="cluster_name=${{ inputs.cluster_name }}" -var="iso_path=${{ inputs.iso_path }}"
